<div id="circle-orbit-container">
  <div id="sun-orbit">
    <img  class="sun" src="./assets/sun.png">
  </div>
  <div id="mercury-orbit">
    <img class="planet mercury" src="./assets/Mercury.png">
  </div>
  <div id="venus-orbit">
    <img class="planet venus" src="./assets/Venus.png">
  </div>
  <div id="earth-orbit">
    <img  class="planet earth" src="./assets/Earth.png">
  </div>
  <div id="mars-orbit">
    <img  class="planet mars" src="./assets/Mars.png">
  </div>
  <div id="jupiter-orbit">
    <img  class="planet jupiter" src="./assets/Jupiter.png">
  </div>
  <div id="saturn-orbit">
    <img  class="planet saturn" src="./assets/Saturn.png">
  </div>
  <div id="uranus-orbit">
    <img  class="planet uranus" src="./assets/Uranus.png">
  </div>
  <div id="neptune-orbit">
    <img  class="planet neptune" src="./assets/Neptune.png">
  </div>
  <div id="pluto-orbit">
    <img  class="planet pluto" src="./assets/Pluto.png">
  </div>
</div>

<div class="mobile">
  <div class="planet-div"><img  class="pluto planet" src="./assets/Pluto.png"></div>
  <div class="planet-div"><img class="neptune planet" src="./assets/Neptune.png"></div>
  <div class="planet-div"><img class="uranus planet" src="./assets/Uranus.png"></div>
  <div class="planet-div"><img class="saturn planet" src="./assets/Saturn.png"></div>
  <div class="planet-div"><img class="jupiter planet" src="./assets/Jupiter.png"></div>
  <div class="planet-div"><img class="mars planet" src="./assets/Mars.png"></div>
  <div class="planet-div"><img class="earth planet" src="./assets/Earth.png"></div>
  <div class="planet-div"><img class="venus planet" src="./assets/Venus.png"></div>
  <div class="planet-div"><img class="mercury planet" src="./assets/Mercury.png"></div>
  <div class="planet-div"><img id="sun" src="./assets/sun.png"></div>
</div>

<div class="nav">
  <input type="range" #ref (change)="changeZoom(ref.value)"/>
  <ul>
    <li (click)="scrollTo('sun')">Sun</li>
    <li (click)="scrollTo('mercury')">Mercury</li>
    <li (click)="scrollTo('venus')">Venus</li>
    <li (click)="scrollTo('earth')">Earth</li>
    <li (click)="scrollTo('mars')">Mars</li>
    <li (click)="scrollTo('jupiter')">Jupiter</li>
    <li (click)="scrollTo('saturn')">Saturn</li>
    <li (click)="scrollTo('uranus')">Uranus</li>
    <li (click)="scrollTo('neptune')">Neptune</li>
    <li (click)="scrollTo('pluto')">Pluto</li>
  </ul>
</div>


