<console [activePlanet]=activePlanet></console>

<div id="circle-orbit-container">
  <div id="pluto-orbit">
    <img (click)="highlightElement('pluto')" class="planet pluto" src="./assets/pluto.png">
  </div>
  <div id="neptune-orbit">
    <img (click)="highlightElement('neptune')" class="planet neptune" src="./assets/neptune.png">
  </div>
  <div id="uranus-orbit">
    <img (click)="highlightElement('uranus')" class="planet uranus" src="./assets/uranus.png">
  </div>
  <div id="saturn-orbit">
    <img (click)="highlightElement('saturn')" class="planet saturn" src="./assets/saturn.png">
  </div>
  <div id="jupiter-orbit">
    <img (click)="highlightElement('jupiter')" class="planet jupiter" src="./assets/jupiter.png">
  </div>
  <div id="mars-orbit">
    <img (click)="highlightElement('mars')" class="planet mars" src="./assets/mars.png">
  </div>
  <div id="earth-orbit">
    <img (click)="highlightElement('earth')" class="planet earth" src="./assets/earth.png">
  </div>
  <div id="venus-orbit">
    <img (click)="highlightElement('venus')" class="planet venus" src="./assets/venus.png">
  </div>
  <div id="mercury-orbit">
    <img (click)="highlightElement('mercury')" class="planet mercury" src="./assets/mercury.png">
  </div>
  <div id="sun-orbit">
    <img (click)="setActiveItem('sun')"class="sun" src="./assets/sun.png">
  </div>
  <img class="extras" (click)="setActiveItem('galaxy')" id="ufo" src="./assets/ufo.png">
  <img class="extras" (click)="setActiveItem('comet')" id="comet" src="./assets/comet.png">
  <img class="extras" id="constellation1" src="./assets/constellation1.png">
  <img class="extras" id="constellation2" src="./assets/constellation2.png">
  <img class="extras" id="constellation3" src="./assets/constellation3.png">
  <img class="extras" id="constellation4" src="./assets/constellation4.png">
  <img class="extras" id="constellation5" src="./assets/constellation5.png">
  <img class="extras" (click)="setActiveItem('rocket')" id="rocket" src="./assets/rocket.png">
</div>

<div class="nav bottom">
  <ul>
    <li (click)="goHome()">Solar System</li>
    <li (click)="findElement('sun')">Sun</li>
    <li (click)="findElement('mercury')">Mercury</li>
    <li (click)="findElement('venus')">Venus</li>
    <li (click)="findElement('earth')">Earth</li>
    <li (click)="findElement('mars')">Mars</li>
    <li (click)="findElement('jupiter')">Jupiter</li>
    <li (click)="findElement('saturn')">Saturn</li>
    <li (click)="findElement('uranus')">Uranus</li>
    <li (click)="findElement('neptune')">Neptune</li>
    <li (click)="findElement('pluto')">Pluto</li>
  </ul>
</div>
