<modal [hidden]="!activePlanet" [activePlanet]=activePlanet></modal>
<div class="nav top">
  <ul>
    <li (click)="zoom(0.5)" class="zoom-out">Zoom Out</li>
    <li (click)="zoom(1)" class="standard-zoom">Regular View</li>
    <li (click)="zoom(1.5)" class="zoom-in">Zoom In</li>
  </ul>
</div>

<div id="circle-orbit-container">
  <div id="pluto-orbit">
    <img (click)="setActiveItem('pluto')" class="planet pluto" src="./assets/Pluto.png">
  </div>
  <div id="neptune-orbit">
    <img (click)="setActiveItem('neptune')" class="planet neptune" src="./assets/Neptune.png">
  </div>
  <div id="uranus-orbit">
    <img (click)="setActiveItem('uranus')" class="planet uranus" src="./assets/Uranus.png">
  </div>
  <div id="saturn-orbit">
    <img (click)="setActiveItem('saturn')" class="planet saturn" src="./assets/Saturn.png">
  </div>
  <div id="jupiter-orbit">
    <img (click)="setActiveItem('jupiter')" class="planet jupiter" src="./assets/Jupiter.png">
  </div>
  <div id="mars-orbit">
    <img (click)="setActiveItem('mars')" class="planet mars" src="./assets/Mars.png">
  </div>
  <div id="earth-orbit">
    <img (click)="setActiveItem('earth')" class="planet earth" src="./assets/Earth.png">
  </div>
  <div id="venus-orbit">
    <img (click)="setActiveItem('venus')" class="planet venus" src="./assets/Venus.png">
  </div>
  <div id="mercury-orbit">
    <img (click)="setActiveItem('mercury')" class="planet mercury" src="./assets/Mercury.png">
  </div>
  <div id="sun-orbit">
    <img (click)="setActiveItem('sun')"class="sun" src="./assets/sun.png">
  </div>
  <img class="extras" (click)="setActiveItem('ufo')" id="ufo" src="./assets/UFO.png">
  <img class="extras" (click)="setActiveItem('comet')" id="comet" src="./assets/comet.png">
  <img class="extras" id="constellation1" src="./assets/constellation1.png">
  <img class="extras" id="constellation2" src="./assets/constellation2.png">
  <img class="extras" id="constellation3" src="./assets/constellation3.png">
  <img class="extras" id="constellation4" src="./assets/constellation4.png">
  <img class="extras" id="constellation5" src="./assets/constellation5.png">
  <img class="extras" (click)="setActiveItem('rocket')" id="rocket" src="./assets/rocket.png">
</div>

<div class="nav bottom">
  <ul>
    <li (click)="scrollTo('sun')">Sun</li>
    <li (click)="scrollTo('mercury')">Mercury</li>
    <li (click)="scrollTo('venus')">Venus</li>
    <li (click)="scrollTo('earth')">Earth</li>
    <li (click)="scrollTo('mars')">Mars</li>
    <li (click)="scrollTo('jupiter')">Jupiter</li>
    <li (click)="scrollTo('saturn')">Saturn</li>
    <li (click)="scrollTo('uranus')">Uranus</li>
    <li (click)="scrollTo('neptune')">Neptune</li>
    <li (click)="scrollTo('pluto')">Pluto</li>
  </ul>
</div>
