<div class="modal-container">
  <div *ngIf="activePlanet === 'the Solar System'">
    <h1>Welcome to our Solar System!</h1>
    <p>Our solar system is a huge and wondrous place! Click on the names of the planets below to see the planet's orbit
    around the sun. </p>
    <p>Then click on a planet to learn fun facts, do science experiments, crafts and more!</p>
    <h2>Come back each day for a new picture straight from NASA!</h2>
    <img class='console-image' src="{{ picture.url }}">
    <p>{{ picture.explanation }}</p>
  </div>
  <div *ngIf="activePlanet != 'the Solar System'">
    <h1>{{ planetInfo[activePlanet]['heading'] }}</h1>
    <img class='currentPlanet' src="../assets/original/{{activePlanet}}.png">
    <p>{{ planetInfo[activePlanet]['facts'] }}</p>
    <p>{{ planetInfo[activePlanet]['creativity_prompt'] }}</p>
    <div *ngIf="activePlanet === 'mars'">
      <p>Here's an image that the Curiosity Rover took while exploring Mars.</p>
      <img class='console-image' src="{{ mars_data.photos[mars_index].img_src }}">
      <button (click)="generateIndex()">Get new image</button>
    </div>
  </div>
</div>
