<div class="modal-container">
  <div *ngIf="activePlanet === 'the Solar System'">
    <h1>Welcome to our Solar System!</h1>
    <p>Our solar system is a huge and wondrous place! Click on the names of the planets below to see the planet's orbit
    around the sun. </p>
    <p>Then click on a planet to learn fun facts, do science experiments, crafts and more!</p>
    <h2>Come back each day for a new picture straight from NASA!</h2>
    <img class='console-image' src="{{ picture.url }}">
    <p><em>{{ picture.explanation }}</em></p>
  </div>
  <div *ngIf="activePlanet != 'the Solar System'">
    <h1>{{ planetInfo[activePlanet]['heading'] }}</h1>
    <div class="control-buttons">
      <button (click)="setActivity('learn')" class="learn">Learn</button>
      <button (click)="setActivity('create')" class="glowing create">Create</button>
      <button (click)="setActivity('see')" class="glowing see">See</button>
    </div>
    <div *ngIf="currentActivity == 'learn'">
      <img class='currentPlanet' src="../assets/original/{{activePlanet}}.png">
      <p>{{ planetInfo[activePlanet]['facts'] }}</p>
      <div *ngIf="activePlanet === 'earth'">
        <p>There are currently {{iss_astronauts.length}} people orbitting the earth on the International Space Station. Their names are: </p>
        <ul>
          <li *ngFor="let person of iss_astronauts ">{{person.name}}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="currentActivity == 'create'">
      <p>{{ planetInfo[activePlanet]['creativity_prompt'] }}</p>
    </div>
    <div *ngIf="currentActivity == 'see'">
      <img id="planetImage" class='console-image' (click)="displayModal()" src="{{ planet_image.items[image_index].links[0].href }}">
      <p><em>{{ planet_image.items[image_index].data[0].description}}</em></p>
      <button (click)="generateIndex(100)" class="glowing">See More</button>
      <div id="imageModal" class="modal">
        <span class="close" (click)="closeModal()"><i class="ion-close-round"></i></span>
        <img class="modal-content" id="img01" src="{{ planet_image.items[image_index].links[0].href }}">
      </div>
      <div *ngIf="activePlanet === 'mars'">
        <p>Here's an image that the Curiosity Rover took while exploring Mars.</p>
        <img class='console-image' src="{{ mars_data.photos[image_index].img_src }}">
        <button (click)="generateIndex(256)" class="glowing">See More</button>
      </div>
    </div>
  </div>
</div>
