.modal-container{
  background-color: rgba(255,255,255,0.8);
  margin: auto;
  padding: 15px 25px;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 25vw;
  height: 85vh;
  overflow: scroll;
}

h1{
  line-height: 100%;
}

.currentPlanet{
  width: 33%;
  float: left;
  padding-right: 15px;
  padding-bottom: 5px;
}

.picture-of-the-day{
  width: 100%;
  height: auto;
}
