body{
  background-image: url("./assets/seamless_space.png");
  background-repeat: repeat;
  background-size: 50%;
  background-attachment: fixed;
  overflow: scroll;
  font-family: 'Cairo', sans-serif;
}

button {
  background-color: #7f0101;
  color: #fff;
  text-shadow: 0 1px 1px #b25900;
  border: none;
  padding: 0.84em 1.47em;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 18px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 5px;
}

button, button:hover, button:active {
  text-decoration: none;
}

button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
}

.control-buttons{
  margin: 15px 0;
  text-align: center;
}

.glowing{
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 10px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
