body{
  background-image: url("./assets/seamless_space.png");
  background-repeat: repeat;
  background-size: 50%;
  background-attachment: fixed;
  overflow: scroll;
  font-family: 'Cairo', sans-serif;
}

button {
  background-color: red;
  color: #fff;
  text-shadow: 0 1px 1px #b25900;
  border: none;
  padding: 0.84em 1.47em;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 18px;
  -webkit-box-shadow: 0 5px 0 #C43012,0 7px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 5px 0 #C43012,0 7px 2px rgba(0,0,0,0.25);
  box-shadow: 0 5px 0 #C43012,0px 7px 3px rgba(0,0,0,0.25);
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

button, button:hover, button:active {
  text-decoration: none;
}

button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-align: center;
}

button:hover {
  background-color: #EF684E;
}

button:active {
  margin-top: 4px;
  margin-bottom: -4px;
  -webkit-box-shadow: 0 1px 0 #F17C65,0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 0 #F17C65,0 1px 2px rgba(0,0,0,0.25);
  box-shadow: 0 1px 0 #F17C65,0 1px 2px rgba(0,0,0,0.25);
}

.control-buttons{
  margin: 15px 0;
  text-align: center;
}
