body{
  background-image: url("./assets/seamless_space.png");
  background-repeat: repeat;
  background-size: 50%;
  background-attachment: fixed;
  overflow: scroll;
  font-family: 'Cairo', sans-serif;
}

